<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-secondary" routerLink="/nuevaexp" *ngIf="isLogged">
            Nueva Experiencia
        </button>
    </div>
    
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Experiencia of expe">
                    <td>
                        <h3>{{Experiencia.nombreE}}</h3>
                    </td>
                    <td >{{Experiencia.descripcionE}}</td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/editexp/{{Experiencia.id}}">
                            EDITAR <i class="bi bi-pencil-fill"></i>
                        </button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-light" (click)="delete(Experiencia.id)">
                            BORRAR <i class="bi bi-trash3-fill"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>