
<div id="container">
    <h1>&bull; Hard & Soft skills &bull;</h1>
    <div class="underline">
    </div>
    <form action="#" method="post" id="contact_form" (ngSubmit)="onUpdate()" novalidate #f="ngForm">
      <div class="nombre">
        <label for="nombre"></label>
        <input type="text" placeholder="Nombre de la skill" name="nombre" id="nombre" [(ngModel)]="skill.nombre" required>
      </div>
      
      <div class="imagen">
        <label for="nombre"></label>
        <input type="text" placeholder="Imagen de la skill (url cloudinary)" name="imagen" id="imagen" [(ngModel)]="skill.imagen" required>
      </div>
      <div class="porcentaje">
        <label for="porcentaje"></label>
        <input type="text" placeholder="Porcentaje de la skill" name="porcentaje" id="porcentaje" [(ngModel)]="skill.porcentaje" required>
      </div>
      <div class="porcentaje">
        <label for="porcentaje"></label>
        <input type="text" placeholder="Color del circulo (en ingles o codigo con #)" name="color" id="color" [(ngModel)]="skill.color" required>
      </div>
      <div class="submit">
        <input type="submit" value="Actualizar" id="form_button" />
      </div>
    </form>
  </div>