.row{
    padding: 20px;
    background-color: #a1b5cb;
}
.contenedor{
    width: auto;
}
.parte1{
    display: inline;
    text-align: justify;
}

.parte2{
    display: inline;
    text-align: justify;
}

.img-drone{
    width: 400px;
}

.img-logo{
    margin-top: 30%;
    width: 400px;
}