<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="col-lg-1">
        <a><img src="../../../assets/—Pngtree—blue agricultural drone_6747835.png" class="img-fluid img-drone"></a>
        <a><img src="../../../assets/APLogo.png" class="img-fluid img-logo"></a>
    </div>
    <div class="contenedor">
        <div class="col-lg-8 parte1">
            <h3>Drones Rurales (año 2022 - en curso)</h3>
            <p>Parte del Grupo de Ingeniería Aplicada al Sistema Agroalimentario (GIASA), de la Facultad de Ingeniería - Universidad Nacional de Río Cuarto. Actividad a desarrollar:</p>
            <ul>
                <li>Capacitación sobre Python.</li>
                <li>Esquema de funcionamiento de placa px4.</li>
                <li>Descripción del código implementado en la placa px4 de un VANT de ala fija tipo albatross.</li>
            </ul>
            <a href="http://www.ing.unrc.edu.ar/grupos/giasa/"><u>Link a la página del grupo</u></a>
        </div>
        
        <div class="col-lg-7 parte2">
            <br>
            <h3>Portfolio (año 2022)</h3>
            <p>Diseño de una pagina web personal (Front-End y Back-End), implementando todos los contenidos aprendidos en el curso Argentina Programa.</p>
        </div>
    </div>
</div>
