<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Drones Rurales (en curso)</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ipsa temporibus voluptatibus animi modi suscipit, reprehenderit adipisci. Veniam corporis ea est, itaque ad sed quisquam error numquam, quibusdam id adipisci.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 parte2">
            <img src="../../../assets/—Pngtree—blue agricultural drone_6747835.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
