.row{
    padding: 20px;
}
div{
    background-color: #a1b5cb;
    text-align: center;
}


/*estilo de la foto de perfil para pantallas grandes*/
@media (min-width: 576px) {
    #fotoperfil{
        position: relative;
        width: 100%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 17%;
        top: -104px;
    }
}

/*estilo de la foto de perfil para pantallas chicas*/
@media (max-width: 575px){
    #fotoperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 35%;
        top: 250px;
    }
    div{
        font-size: small;
    }
    h5{
        font-size: small;
    }
}





/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 29%;
    
}

