<div class="row">

    <h1>Hard & Soft skills</h1>
    <div class="col-lg-2">
        <button type="button" routerLink="/newskill" class="btn btn-dark" *ngIf="isLogged">Nueva Skill</button>
    </div>


    <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo" *ngFor="let skill of skill">
        <circle-progress 
        [percent]="(skill.porcentaje)" 
        [radius]="100" 
        [imageSrc]="''" 
        [title]="(skill.nombre)"
        [titleColor]="'#212F3C'"
        [showTitle]="true" 
        [showImage]="false" 
        [imageHeight]="70" 
        [imageWidth]="70" 
        [showUnits]="false"
        [showSubtitle]="false" 
        [outerStrokeWidth]="14"
        [space]="4"
        [innerStrokeWidth]="15" 
        [outerStrokeColor]="'#e54c21'"
        [innerStrokeColor]="'#f16524'" 
        [animation]="true" 
        [animationDuration]="300">
        </circle-progress>

        <div>
            <td *ngIf="isLogged">
                <button class="btn btn-light" routerLink="/editskill/{{skill.id}}">
                    <i class="bi bi-pencil-fill"></i></button>
            </td>
            <td *ngIf="isLogged">
                <button class="btn btn-danger" (click)="delete(skill.id)">
                    <i class="bi bi-trash-fill"></i></button>
            </td>
        </div>
        
    </div>
</div>









<!--<div class="row">
    <h1>Hard and Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" id="grafico">
        <circle-progress
            [percent]="40"
            [radius]="100"
            [imageSrc]="'../assets/html.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showUnits]="true"
            [showSubtitle]="false"
            [outerStrokeWidth]="14"
            [space]="4"
            [innerStrokeWidth]="15"
            [backgroundGradient]="false"
            [backgroundOpacity]="1"
            [backgroundGradientStopColor]="'transparent'"
            [backgroundStroke]="'transparent'"
            [outerStrokeColor]="'#e54c21'"
            [innerStrokeColor]="'#f16524'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="20"
            [radius]="100"
            [imageSrc]="'../assets/js.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showUnits]="true"
            [showSubtitle]="false"
            [outerStrokeWidth]="14"
            [space]="4"
            [innerStrokeWidth]="15"
            [backgroundGradient]="false"
            [backgroundOpacity]="1"
            [backgroundGradientStopColor]="'transparent'"
            [backgroundStroke]="'transparent'"
            [outerStrokeColor]="'#dab92d'"
            [innerStrokeColor]="'#ffd83a'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
        </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="30"
            [radius]="100"
            [imageSrc]="'../assets/CSS.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showUnits]="true"
            [showSubtitle]="false"
            [outerStrokeWidth]="14"
            [space]="4"
            [innerStrokeWidth]="15"
            [backgroundGradient]="false"
            [backgroundOpacity]="1"
            [backgroundGradientStopColor]="'transparent'"
            [backgroundStroke]="'transparent'"
            [outerStrokeColor]="'#2277ff'"
            [innerStrokeColor]="'#3398ff'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [imageSrc]="'../assets/github2.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showUnits]="true"
            [showSubtitle]="false"
            [outerStrokeWidth]="14"
            [space]="4"
            [innerStrokeWidth]="15"
            [backgroundGradient]="false"
            [backgroundOpacity]="1"
            [backgroundGradientStopColor]="'transparent'"
            [backgroundStroke]="'transparent'"
            [outerStrokeColor]="'#9b59b6'"
            [innerStrokeColor]="'#ecf0f1'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [imageSrc]="'../assets/eng.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showUnits]="true"
            [showSubtitle]="false"
            [outerStrokeWidth]="14"
            [space]="4"
            [innerStrokeWidth]="15"
            [backgroundGradient]="false"
            [backgroundOpacity]="1"
            [backgroundGradientStopColor]="'transparent'"
            [backgroundStroke]="'transparent'"
            [outerStrokeColor]="'#7385a8'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../assets/grupal.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showUnits]="true"
            [showSubtitle]="false"
            [outerStrokeWidth]="14"
            [space]="4"
            [innerStrokeWidth]="15"
            [backgroundGradient]="false"
            [backgroundOpacity]="1"
            [backgroundGradientStopColor]="'transparent'"
            [backgroundStroke]="'transparent'"
            [outerStrokeColor]="'#7385a8'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
</div>-->