<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1">
        <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa"><img src="../../../assets/APLogo.png" class="img-fluid" id="logos"></a>
        <a><img src="../../../assets/INTI_Logo_2019.png" class="img-fluid" id="logos"></a>
        <a><img src="../../../assets/Logo_ministerio_de_economia-final.png" class="img-fluid" id="logo1"></a>
    </div>
    <div class="col-lg-10">
        <ul>
            <li>
                <h1>Curso #SéProgramar</h1> - <h3>(2 meses)</h3>
            </li>
            <p>Curso gratuito, tambien conocido como "primera etapa" del curso "Argentina Programa", creado por el Gobierno nacional y el INTI, certificado por el Ministerio de Produccion de la Nación y CESSI. Este es un curso introductorio en el que aprendí los fundamentos básicos de la programación, el mismo, estaba dividido en tres módulos:</p> 
            <ol>
                <li>Fundamentos</li>
                <li>Programacion imperativa</li>
                <li>Programación en objetos</li>
            </ol>
            <br>
            <p>La aprobación del mismo, nos habilita para poder cursar la segunda etapa, conocida como #YoProgramo.</p>
        </ul>
        <ul>
            <li>
                <h1>Curso #YoProgramo</h1> - <h3>(7 meses)</h3>
            </li>
            <p>Curso gratuito, también conocido como "segunda etapa" del curso "Argentina programa", creado por el Gobierno nacional y el INTI, certificado por el Ministerio de Produccion de la Nación y CESSI. En este curso, adquirí las habilidades y herramientas necesarias para convertirme en un programador web full-stack junior. El mismo consta de 9 módulos: 
            </p>
                    <ol>
                        <li>Introduccion a desarrollo web y aplicaciones</li>
                        <li>Front End estático</li>
                        <li>Front End - Desarrollo Web Dinámico</li>
                        <li>Bases de datos</li>
                        <li>POO - Buenas prácticas de programación</li>
                        <li>Backend - Java EE parte I</li>
                        <li>Backend - Java EE parte II</li>
                        <li>Backend - Java Spring boot</li>
                        <li>Dev Ops</li>
                    </ol>
                    <br> 
            <p>Cabe destacar que este mismo portafolio, es el trabajo integrador del curso #YoProgramo, en el que traté de volcar todas las habilidades adquiridas en el mismo, con la ayuda de mis profesores y compañeros.</p>
            <br>
            <p style="text-align:center"><u>Para más informacion, click en el logo de Argentina Programa.</u></p>
            
        </ul>
    </div>
</div>
