

<div id="container">
    <h1>&bull; Acerca de Mí &bull;</h1>
    <div class="underline">
    </div>
    
    <form action="#" method="post" id="contact_form" (ngSubmit)="onUpdate()" novalidate #f="ngForm">
      <div class="nombre">
        <label for="nombre"></label>
        <input type="text" placeholder="Mi nombre es" name="name" id="nombre" [(ngModel)]="persona.nombre" required>
      </div>
      <div class="apellido">
        <label for="apellido"></label>
        <input type="apellido" placeholder="Mi apellido es" name="apellido" id="apellido" [(ngModel)]="persona.apellido" required>
      </div>
      <div class="descripcion">
        <label for="descripcion"></label>
        <textarea name="descripcion" placeholder="I'd like to chat about" id="descripcion" cols="30" rows="5" [(ngModel)]="persona.descripcion" required></textarea>
      </div>
      <div class="submit">
        <input type="submit" value="Actualizar" id="form_button" />
      </div>
      
    </form>
  </div>