

<div id="container">
    <h1>&bull; Experiencia &bull;</h1>
    <div class="underline">
    </div>
    <form action="#" method="post" id="contact_form" (ngSubmit)="onUpdate()" novalidate #f="ngForm">
      <div class="nombreE">
        <label for="nombreE"></label>
        <input type="text" placeholder="Nombre de la institucion" name="nombreE" id="nombreE" [(ngModel)]="expLab.nombreE" required>
      </div>
      
      <div class="inicio">
        <label for="nombre"></label>
        <input type="text" placeholder="Año de inicio" name="inicio" id="inicio" [(ngModel)]="expLab.inicio" required>
      </div>
      <div class="fin">
        <label for="nombre"></label>
        <input type="text" placeholder="Año de Finalizacion" name="fin" id="fin" [(ngModel)]="expLab.fin" required>
      </div>
      <div class="imagen">
        <label for="nombre"></label>
        <input type="text" placeholder="Imagen de la institucion (url cloudinary)" name="imagen" id="imagen" [(ngModel)]="expLab.imagen" required>
      </div>
      <div class="descripcionE">
        <label for="descripcionE"></label>
        <textarea name="descripcionE" placeholder="Descripcion del trabajo" id="descripcionE" cols="30" rows="5" [(ngModel)]="expLab.descripcionE" required></textarea>
      </div>
      <div class="submit">
        <input type="submit" value="Actualizar" id="form_button" />
      </div>
    </form>
  </div>