.row{
    background-color: #a1b5cb;
    padding: 5px;
    margin-top: 1px;
}
h1{
    display: inline;
}

.circulo{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 575px) {
    .circulo{
        width:200px;
        height: 270px;
    }
    
}