
/*estilo del banner para pantallas grandes*/
@media (min-width: 576px){
    #banner{
        position: absolute;
        width: 100%;
    }
}

/*estilo del banner para pantallas chicas*/
@media (max-width: 575px){
    #banner{
        position: absolute;
        width: 100%;

    }
}