


<div id="container">
    <h1>&bull; Proyecto &bull;</h1>
    <div class="underline">
    </div>
    <form action="#" method="post" id="contact_form" (ngSubmit)="onCreate()" novalidate #f="ngForm">
      <div class="nombreP">
        <label for="nombreP"></label>
        <input type="text" placeholder="Nombre del proyecto" name="nombreP" id="nombreP" [(ngModel)]="nombreP" required>
      </div>
      
      <div class="inicio">
        <label for="nombre"></label>
        <input type="text" placeholder="Año de inicio" name="inicio" id="inicio" [(ngModel)]="inicio" required>
      </div>
      <div class="fin">
        <label for="nombre"></label>
        <input type="text" placeholder="Año de Finalizacion" name="fin" id="fin" [(ngModel)]="fin" required>
      </div>
      <div class="imagen">
        <label for="nombre"></label>
        <input type="text" placeholder="Imagen del proyecto (url cloudinary)" name="imagen" id="imagen" [(ngModel)]="imagen" required>
      </div>
      <div class="descripcionP">
        <label for="descripcionP"></label>
        <textarea name="descripcionP" placeholder="Descripcion del proyecto" id="descripcionP" cols="30" rows="5" [(ngModel)]="descripcionP" required></textarea>
      </div>
      <div class="submit">
        <input type="submit" value="Agregar proyecto" id="form_button" />
      </div>
    </form>
  </div>