.row{
    padding: 20px;
    background-color: #a1b5cb;   
}

div{
    background-color: #a1b5cb;
    padding: 2px;
}

#descripcion{
    text-align: center;
    margin-right: 150px;
}
p{
    width: 1300px;
    font-size: large;
}
#nombre{
    position: relative;
    text-align: left;
    background-color: #a1b5cb;
    padding: 2px;
}
#titulo{
    position: relative;
    text-align: left;
    background-color: #a1b5cb;
    padding: 2px;
}
h2{
    margin-left: 50px;
}
h3{
    margin-left: 20px;
}

/*estilo de la foto de perfil para pantallas grandes*/
@media (min-width: 576px) {
    #fotoperfil{
        width: 40%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        margin-left: 60px;
        display: flex;
        float: left;
    }
}

/*estilo de la foto de perfil para pantallas chicas*/
@media (max-width: 575px){
    #fotoperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 10px;
        top: 323px;
    }
    #descripcion{
        margin-top: 100px;
        width: 410px;
    }
    p{
      width: 400px;
      text-align: center;
      height: 110px;
    }
    #nombre{
        position: absolute;
        text-align: center;
        margin-left: 150px;
        margin-top: -305px;
    }
    #titulo{
        position: absolute;
        text-align: center;
        margin-left: 143px;
        margin-top: -260px;
    }
    div{
        font-size: small;
    }
    h5{
        font-size: small;
    }
}







