.container{
    display: flex;
    justify-content: space-between;
    align-items: center;   

}

.redes{
    margin-right: 0.5em;
    display: flex;
}

.logo{
    width: 1600px;
}

#logoAP{
    width: 150px;
}
img{
    width: 50px;
}

.btn{
    border-width: medium;
    margin-right: 10px;
}

/** para vista de celu**/
@media (max-width: 575px){
    .container{
        flex-direction: column;
    }
    .redes{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 1%;
        margin-top: -6%;
    }
    .logo{
        margin-left: 0%;
        display: flex;
    }
    .btn{
        margin-top: -170px;
        margin-left: 303px;
        width: 20%;
        height: 240%;
    }
}
