<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            <a href="https://www.instagram.com/naduristomas/"><img src="../../../assets/instagram.png" id="instagram"></a>
            <a href="https://github.com/tominaduris"><img src="../../../assets/github.png" id="github"></a>
            <a href="https://www.facebook.com/tomy.nadu/"><img src="../../../assets/facebook.png" id="facebook"></a>
            <a href="https://twitter.com/tomasnaduris"><img src="../../../assets/twitter.png" id="twitter"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Log-in</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Log-out</button>
        </div>
        
    </div>    
</div>
