<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudio 1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias consequuntur asperiores corporis, pariatur id molestiae ipsum ut quod explicabo aspernatur magnam, et in ex aut temporibus maiores reprehenderit modi eveniet.</p>
        </ul>
        <ul>
            <li>
                <h1>Estudio 2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias consequuntur asperiores corporis, pariatur id molestiae ipsum ut quod explicabo aspernatur magnam, et in ex aut temporibus maiores reprehenderit modi eveniet.</p>
        </ul>
    </div>
</div>